p {
  font-size: small;
  font-family: Georgia, "Times New Roman", Times, serif;
}
table,
td,
th {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
.BlueColor {
  background-color: #ccc;
}
.Boldfont {
  font-weight: bold;
}
